@import "reset.css";
body {
  margin:0;   
  overflow: hidden;
}

.login__title {  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;  
  padding: 14px 16px;
  font-size: xx-large;
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-item: center;
  -webkit-justify-content: center;  
}

.login__title h1 {
  margin-bottom: 40px;
}

.login__title button {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  border-radius: 36px;
  padding: 12px 16px; /* Some padding */
  font-size: 36px; /* Set a font size */
  cursor: pointer;
}

.login__title button:hover {
  background-color: RoyalBlue;  
}

.login__title button:active {  
  transform: scale(0.98);
}

.main {
  font-weight: 800;
  font-size: 12px;
}

.main button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color:rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px
}

.main button:active{
  transform: scale(0.98);
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}

.navbar a {
  flex: 1;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.table {
  display: table; width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 3px;
  border-bottom: 1px solid #DDD;
}

.col__set { width: 50px;}
.col__weight {width: 100px;}
.col__rep {width: 100px;}
.col__btn {width: 50px;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}